<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Drivers</h1>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 id=user></h3>
      <button id=logout>Logout</button>
     
   
    </div>
    <h1>Drivers</h1>
  	<div id=data>
  	
  	</div>
	
  </div>
</div>

<script>
	function getall()
	{
		$.get("/getphones",(res)=>{
			h="";
			for (var i=0;i<res.length;i++)
				{
				h+=`${res[i].fullname} ${res[i].afm} ${res[i].email} <br>   `;
				}
			$("#data").html(h);
		})
		
	}
	
	
	
	
	getall();
	$("#logout").click(()=>{
		$.get("/logout",()=>{
			window.location.href="/";
		})
	});
</script>